<div class="customers">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <img src="{{ post.meta('customers_image') }}" alt="alt" class="w-100 customers-img">
            </div>
            <div class="col-xl-6" data-aos="fade-left">
                <div class="text-center">
                    <h2 class="customers-title">Наші <span>Замовники</span></h2>
                    <p class="customers-text">Lorem ipsum dolor sit amet consectetur. <br>Tristique fringilla bibendum elit
                        quis placerat mauris.</p>
                </div>
                <div class="customers-carousel-block">
                    <div class="row p-2">
                        <div id="carouselExampleIndicators" class="carousel slide" >
                            <div class="carousel-indicators">
                                {% set photos = post.meta('customers_repeater') %}
                                {% set total_photos = photos|length %}
                                {% set blocks_count = (total_photos / 12)|round(0, 'ceil') %}

                                {% set active_blocks = [] %}
                                {% for block_index in range(0, blocks_count) %}
                                    {% set block_photos = photos|slice(block_index*12, 12) %}
                                    {% if block_photos|length > 0 %}
                                        {% set active_blocks = active_blocks|merge([block_index]) %}
                                    {% endif %}
                                {% endfor %}

                                {% for block_index in active_blocks %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ block_index }}" {% if block_index == 0 %}class="active"{% endif %} aria-label="Slide {{ block_index+1 }}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for block_index in active_blocks %}
                                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                        <div class="row align-items-center">
                                            {% for photo in photos|slice(block_index*12, 12) %}
                                                <div class="col-md-4 p-3 image ">
                                                    <img src="{{ photo.services_img }}" alt="{{ global_settings.logo.alt }}" class="img-fluid p-2" style="height: 65px" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
